.navbar-brand
{
    float:none;
}

.col-sm-3{
    padding-right: 10px;
    padding-left: 10px;
}

.card-body{
    padding: 8px;
}

input{
    width: 25px;
}

.cart-item{
    padding-bottom: 1px;
    border-bottom: solid 1px;
}
